<!-- ======= START Section 3======= -->
<section id="pricing" class="pricing section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Floral Plans</h2>
    <h3>Check our <span>Floral Plans</span></h3>
    <p>Choose the Floral Plan that Fits Your Style!</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row g-4 g-lg-0">

      <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="pricing-item">
          <h3>Basic Plan</h3>
          <h4><sup>$</sup>30<span> / month</span></h4>
          <ul>
            <li><i class="bi bi-check"></i> <span>1 Bouquet (of your choice)</spanF>
            </li>
            <li><i class="bi bi-check"></i> <span>1 Plant (of your choice)</span></li>
            <li><i class="bi bi-check"></i> <span>1 Perfect Gift</span></li>
            <li class="na"><i class="bi bi-x"></i> <span>1 Floral Arrangement</span></li>
            <li class="na"><i class="bi bi-x"></i> <span>Floral Styling Consultancy</span></li>
          </ul>
          <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
        </div>
      </div><!-- End Pricing Item -->

      <div class="col-lg-4 featured" data-aos="zoom-in" data-aos-delay="200">
        <div class="pricing-item">
          <h3>Pro Plan</h3>
          <h4><sup>$</sup>65<span> / month</span></h4>
          <ul>
            <li><i class="bi bi-check"></i> <span>1 Bouquet (of your choice)</span></li>
            <li><i class="bi bi-check"></i> <span>1 Plant (of your choice)</span></li>
            <li><i class="bi bi-check"></i> <span>1 Perfect Gift</span></li>
            <li><i class="bi bi-check"></i> <span>1 Floral Arrangement</span></li>
            <li><i class="bi bi-check"></i> <span>Floral Styling Consultancy</span></li>
          </ul>
          <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
        </div>
      </div><!-- End Pricing Item -->

      <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="pricing-item">
          <h3>Expert Plan</h3>
          <h4><sup>$</sup>100<span> / month</span></h4>
          <ul>
            <li><i class="bi bi-check"></i> <span>3 Bouquets (of your choice)</span></li>
            <li><i class="bi bi-check"></i> <span>1 Plant (of your choice)</span></li>
            <li><i class="bi bi-check"></i> <span>2 Perfect Gifts</span></li>
            <li><i class="bi bi-check"></i> <span>2 Floral Arrangements</span></li>
            <li><i class="bi bi-check"></i> <span>Floral Styling Consultancy</span></li>
          </ul>
          <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
        </div>
      </div><!-- End Pricing Item -->

    </div>

  </div>

</section>
<!-- END Section 3 -->