<!-- ======= START Section 1======= -->
<section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-flower1"></i></div>
          <h4 class="title"><a href="">Safe delivery</a></h4>
          <p class="description"> service anywhere across the country</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-box2-heart"></i></div>
          <h4 class="title"><a href="">The perfect gift</a></h4>
          <p class="description">to surprise and delight your loved ones</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-truck"></i></div>
          <h4 class="title"><a href="">Fast delivery</a></h4>
          <p class="description"> straight to your door in less than 24 hours</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-credit-card"></i></div>
          <h4 class="title"><a href="">Secure and easy</a></h4>
          <p class="description">online payment for your peace of mind</p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- END Section 1 -->