<!-- ======= START Section 5======= -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Portfolio</h2>
      <h3>Check our <span>Portfolio</span></h3>
      <p>
        Explore the beauty and variety of our floral creations. Our portfolio showcases our passion and dedication to
        every
        bouquet and arrangement, perfect for any occasion. Get inspired by our selection and let the art of flowers
        impress
        you!
      </p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-bouquets">Bouquets</li>
          <li data-filter=".filter-plants">Plants</li>
          <li data-filter=".filter-arrangements">Flower Arrangements</li>
          <li data-filter=".filter-gifts">Gifts</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
      <div class="col-lg-4 col-md-6 portfolio-item filter-bouquets">
        <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="Blooming Beauty" />
        <div class="portfolio-info">
          <h4>Blooming Beauty</h4>
          <p>Bouquets</p>
          <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Blooming Beauty"><i class="bi bi-plus"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-bouquets">
        <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="Floral Elegance" />
        <div class="portfolio-info">
          <h4>Floral Elegance</h4>
          <p>Bouquets</p>
          <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Floral Elegance"><i class="bi bi-plus"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-bouquets">
        <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="Petals & Passion" />
        <div class="portfolio-info">
          <h4>Petals & Passion</h4>
          <p>Bouquets</p>
          <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Petals & Passion"><i class="bi bi-plus"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-arrangements">
        <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="Blossoms of Love" />
        <div class="portfolio-info">
          <h4>Blossoms of Love</h4>
          <p>Flower Arrangements</p>
          <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Blossoms of Love"><i class="bi bi-plus"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-arrangements">
        <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="Nature's Art" />
        <div class="portfolio-info">
          <h4>Nature's Art</h4>
          <p>Flower Arrangements</p>
          <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Nature's Art"><i class="bi bi-plus"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-plants">
        <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="Fresh & Fabulous" />
        <div class="portfolio-info">
          <h4>Fresh & Fabulous</h4>
          <p>Plants</p>
          <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Fresh & Fabulous"><i class="bi bi-plus"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-gifts">
        <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="Elegance in a Pot" />
        <div class="portfolio-info">
          <h4>Champagne &amp; Roses</h4>
          <p>Gifts</p>
          <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Champagne &amp; Roses"><i class="bi bi-plus"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-arrangements">
        <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="Botanical Bliss" />
        <div class="portfolio-info">
          <h4>Botanical Bliss</h4>
          <p>Flower Arrangements</p>
          <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Botanical Bliss"><i class="bi bi-plus"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-plants">
        <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="Elegance in a Pot" />
        <div class="portfolio-info">
          <h4>Elegance in a Pot</h4>
          <p>Plants</p>
          <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Elegance in a Pot"><i class="bi bi-plus"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-bouquets">
        <img src="assets/img/portfolio/portfolio-10.jpg" class="img-fluid" alt="The Flower Touch" />
        <div class="portfolio-info">
          <h4>The Flower Touch</h4>
          <p>Bouquets</p>
          <a href="assets/img/portfolio/portfolio-10.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="The Flower Touch"><i class="bi bi-plus"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-gifts">
        <img src="assets/img/portfolio/portfolio-11.jpg" class="img-fluid" alt="Elegance in a Pot" />
        <div class="portfolio-info">
          <h4>Sweet Love &amp; Roses</h4>
          <p>Gifts</p>
          <a href="assets/img/portfolio/portfolio-11.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Sweet Love &amp; Roses"><i class="bi bi-plus"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-gifts">
        <img src="assets/img/portfolio/portfolio-12.jpg" class="img-fluid" alt="Elegance in a Pot" />
        <div class="portfolio-info">
          <h4>Cozy Pink Birthday Surprise</h4>
          <p>Gifts</p>
          <a href="assets/img/portfolio/portfolio-12.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Cozy Pink Birthday Surprise"><i class="bi bi-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END  Section 5 -->