<!-- ======= Contact Section 7 ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact</h2>
      <h3><span>Contact Us</span></h3>
      <p>Get in touch with us! Use the contact form below to send us a message, and we&rsquo;ll get back to you as soon
        as possible.
        You can also reach us directly using the contact details provided. We&rsquo;re here to help with all your floral
        needs!</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-6">
        <div class="info-box mb-4">
          <i class="bi bi-map"></i>
          <h3>Our Address</h3>
          <p>Cluj-Napoca</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="bi bi-envelope"></i>
          <h3>Email Us</h3>
          <p>floralheaven@gmail.com</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="bi bi-phone"></i>
          <h3>Call Us</h3>
          <p>+40 721 345 678</p>
        </div>
      </div>

    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-6 ">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2732.492838645655!2d23.59925971198786!3d46.77489234491946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490c21ed37b6a7%3A0xc53e80d300541ed7!2sBulevardul%2021%20Decembrie%201989%2C%20Cluj-Napoca!5e0!3m2!1sro!2sro!4v1741007875664!5m2!1sro!2sro"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form needs-validation" novalidate>
          <div class="row">
            <div class="col form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              <div class="invalid-feedback">Please enter your name.</div>
            </div>
            <div class="col form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              <div class="invalid-feedback">Please enter a valid email address.</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            <div class="invalid-feedback">Please enter a subject.</div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            <div class="invalid-feedback">Please write a message.</div>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message">Error while submitting the form.</div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section>
<!-- END Contact Section 7 -->