<!-- ======= START Section 4======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
      <h3>Check our <span>Services</span></h3>
      <p>Our online flower shop offers a wide range of services, including beautiful bouquets, a variety of plants, and
        custom
        floral arrangements for weddings and special events. </p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-flower3"></i></div>
          <h4><a href="">Bouquets</a></h4>
          <p>The Bouquets section offers a variety of fresh, beautifully arranged flower bouquets for any special
            occasion.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-flower3"></i></div>
          <h4><a href="">Plants</a></h4>
          <p>The Plants section features a variety of indoor and outdoor plants, perfect for decoration and air
            improvement, in various sizes and types.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-flower3"></i></div>
          <h4><a href="">Flower arrangements</a></h4>
          <p>The Flower Arrangements section offers beautiful, carefully arranged flowers for any occasion, made with
            fresh and colorful blooms.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-truck"></i></div>
          <h4><a href="">Safe and Fast Delivery</a></h4>
          <p>We prioritize the safe and timely delivery of your beautiful flowers.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-box2-heart"></i></div>
          <h4><a href="">The perfect gift</a></h4>
          <p>You can personalize your order with a message and choose gift-style wrapping to make your flowers the
            perfect present.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-calendar-check"></i></div>
          <h4><a href="">Subscription</a></h4>
          <p>You can subscribe to have flowers delivered monthly and change your preferences anytime.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-clipboard-heart"></i></div>
          <h4><a href="">Floral Styling &amp; Consultancy</a></h4>
          <p> Expert advice and bespoke floral styling for home decor, businesses, and special occasions.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-cart-check"></i></div>
          <h4><a href="">Free Delivery</a></h4>
          <p>For orders over 400 RON, transportation is free. This offer is always available.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-person-check"></i></div>
          <h4><a href="">Exclusive Member Discounts</a></h4>
          <p>Subscription members enjoy special discounts, early access to new collections, and exclusive floral offers
            every month!</p>
        </div>
      </div>

    </div>

  </div>
</section>
<!--  END Section 4-->